@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-right: env(safe-area-inset-right, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
  --safe-left: env(safe-area-inset-left, 0px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Тёмная тема */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::before {
  /* размер клетки от 28 до 52px */
  --size: clamp(28px, 6vw, 52px);
  --line: rgba(255, 255, 255, 0.08);

  content: "";
  position: fixed;
  inset: 0;
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 16px 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0% 14px / var(--size) var(--size);
  mask-image: linear-gradient(-20deg, transparent 45%, white 70%);
  -webkit-mask-image: linear-gradient(-20deg, transparent 45%, white 70%);
  pointer-events: none;
  z-index: 0;
}